{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<h1>Créer un utilisateur</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('user_list') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}
